* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: lavender;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: solid;
    margin: 5%;
    padding: 5%;
}

h1 {
    text-align: center;
}

.highscore {
    position: relative;
    float: left;
    margin-left: 20px;
}

.time {
    position: relative;
    float: right;
    margin-right: 20px;
}

p {
    border: solid;
    border-color: rgb(243, 188, 49);
    width: 700px;
    text-align: center;
    margin-top: 75px;
    margin-right: auto;
    margin-left: auto;
}

h4 {
    text-align: center;
}

h6 {
    text-align: center;
}

#startbutton {
    width: 70px;
    text-align: center;
}

#home {
    position: fixed;
    margin: -100px;
    margin-left: -40px;
    float: right;
}